body {
    font-family: 'IBM Plex Mono', monospace;
    color: #b9b9b9;
    background-color: rgb(56, 56, 56)
}
.green{
    color: rgb(9, 245, 9)
}
.red{
    color: red
}
.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color:  orange;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
}
.hidden {
    display: none;
}